body{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("../asset/kayu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(85, 82, 78);
}


.bg-image-css{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../asset/kayu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(85, 82, 78);
    
}

.bg-image2-css{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../asset/R.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(85, 82, 78);
    
}